.card {
  background-color: #dcdcdc;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid hsl(0deg 0% 70%);
}
.card p {
  margin-bottom: 1.5rem;
}
.card p:last-of-type {
  margin-bottom: 0;
}
.card h4 {
  /* background-color: hsl(0deg 0% 90%); */
  background-color: hsl(28, 83%, 77%);
  width: fit-content;
  padding: 8px 32px;
  margin-bottom: 1.5rem;
  margin-left: -32px;
  margin-top: -16px;
  box-shadow: 1px 1px 2px hsl(28, 40%, 47%);
}
